%dl
  %dt
    =f.label :title
    %span.error= post.errors[:title].first
  %dd=f.text_field :title

%dl
  %dt
    =f.label :content
    %span.error= post.errors[:content].first
  %dd=f.text_area :content

%dl
  %dt=f.label :publish_time
  %span.error= post.errors[:publish_time].first
  %dd=f.datetime_select :publish_time, use_month_numbers: true

%dl
  %dt=f.label :attached_image
  %dd=f.file_field :attached_image

