%dl
  %dt=f.label :title
  %dd=f.text_field :title

%dl
  %dt=f.label :content
  %dd=f.text_area :content

%dl
  %dt=f.label :publish_time
  %dd=f.datetime_select :publish_time, use_month_numbers: true


