Welcome to your dashboard
= link_to "create new post", new_user_post_path(current_user)

%ul
  - posts.each do |post|
    %li
      %h3 #{post.title}
      =link_to "Edit Post", edit_user_post_path(current_user, post)
      =link_to "Delete Post", user_post_path(current_user, post), method: :delete, confirm: "Are you sure?"
      =link_to "Preview Post", user_post_path(current_user, post)
      %strong Publish Time: #{time_tag post.publish_time}
