%h5 #{distance_of_time_in_words(post.publish_time, Time.zone.now)} ago
%p= simple_format(markdown post.content)
.feature_image= image_tag post.attached_image.url(:medium) if post.attached_image_file_name
