.blog-post
  background: #E5EBF5
  width: 70%
  margin: 0 auto
  margin-top: 10px
  margin-bottom: 10px
  border: 1px solid gray
  padding: 45px
  .highlight
    background: #CAD2E0
    padding: 10px
  h5
    text-align: center
  p
    text-indent: 25px
  .feature_image
    margin: 0 auto
    width: 300px

h2
  text-align: center

.error
  color: red


.alert
  color: red
  background: black
  text-align: center

.notice
  color: yellow
  background: black
  text-align: center

header
  color: blue
  background: green
  padding: 5px
  margin: 5px
  a
    margin: 10px
    color: white
  a:hover
    color: blue

.logo
  margin-left: 75%
  color: orange

.pagination
  text-align: center
  padding: 15px
  background: green
