.blog-post
  background: gray
  width: 70%
  margin: 0 auto
  text-align: center

.alert
  color: red
  background: black
  text-align: center

.notice
  color: yellow
  background: black
  text-align: center

header
  color: blue
  background: green
  padding: 5px
  margin: 5px

.logo
  margin-left: 75%
  color: orange
